<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lab_2_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Lab_2_GUI.Properties.Settings>
            <setting name="trainComingHours" serializeAs="String">
                <value />
            </setting>
            <setting name="trainComingMinutes" serializeAs="String">
                <value />
            </setting>
            <setting name="trainLeavingHours" serializeAs="String">
                <value />
            </setting>
            <setting name="trainLeavingMinutes" serializeAs="String">
                <value />
            </setting>
            <setting name="passengerComingHours" serializeAs="String">
                <value />
            </setting>
            <setting name="passengerComingMinutes" serializeAs="String">
                <value />
            </setting>
            <setting name="widthBox" serializeAs="String">
                <value />
            </setting>
            <setting name="heightBox" serializeAs="String">
                <value />
            </setting>
            <setting name="lineBox" serializeAs="String">
                <value />
            </setting>
        </Lab_2_GUI.Properties.Settings>
    </userSettings>
</configuration>